.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;

  }
  
  .button:hover,
  .button:active {
    background-color: #fff;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #ccc;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 0rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #92320c;
  }
  .link{
    text-decoration: none;
  }
  @media (max-width: 800px) {
    .button {
        cursor: pointer;
        font: inherit;
        border: none;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 25px;
        font-weight: bold;
      }
      .icon {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
      }

      .badge {
        background-color: #ccc;
        padding: 0.25rem 0rem;
        border-radius: 25px;
        margin-left: 0rem;
        font-weight: bold;
      }

      
  .button:hover,
  .button:active {
    background-color: #fff;
  }
  
      .button:hover .badge,
  .button:active .badge {
    background-color: #92320c;
  }
      
  }
  